<%- include ('partials/htmlHeader') %>
<%- include ('partials/htmlNavbar') %>	

	<div class="container">

		  <div class="row d-flex h-80">
			<div class="col col-lg-4 d-flex flex-column justify-content-center align-items-center"> 
				<h1>OCEŃ SWOICH PROWADZĄCYCH<h1>
				<h3>Szybko, łatwo, bezboleśnie.</h3>
					<%if(!currentUser){%>
					<div class="col align-self-center">
						<button type="button" class="btn btn-teach" onclick="location.href='/register'" value="Zarejestruj się">Zarejestruj się</button>
					    <button type="button" class="btn btn-teach" onclick="location.href='/rate/browse'" value="Wyszukaj prowadzącego">Wyszukaj prowadzącego</button>
					</div>
					<%}else{%>
						<div class="col align-self-center">
							<button type="button" class="btn btn-teach" onclick="location.href='/user/<%=currentUser._id%>'" value="Profil">Profil</button>
							<button type="button" class="btn btn-teach" onclick="location.href='/rate/browse'" value="Zacznij Oceniać">Zacznij Oceniać</button>
						</div>
					<%}%>
				</div>
				<div class="col col-lg-8">
					 <img src="https://external-preview.redd.it/7GXXb_EFZlnQ8VEfHSVMZ3lDRHPIWl_ozxCB94XSnzw.jpg?auto=webp&s=08bb8eac2c11914d6a33954ed7935bdc8e68a576" alt="kox svg studenta placeholder" class="img-fluid h-100" >
				</div>
		  </div>
	</div>

<%- include ('partials/htmlFooter') %>