*{
    margin: 0;
    padding: 0;
}
body{
	background-color: #f5dc69;
}
#hasloForget
{
	padding: 0;
}

.formColors
{
	background-color: #DEA252;
	color: black;
}
select {
display: block;
margin: 0 auto;
}

input[type=text]
{
	background-color: #FEFFB9;
	color:#909169;
}
input[type=password]
{
	background-color: #FEFFB9;
	color:#909169;
}
.w-15
{
	width: 15%;
}
.h-15
{
	height: 15%;
}
.h-20
{
	height: 20%;
}
.h-80
{
	height: 80%;
}
.img-teacher
{
	width: 50%;
}
.searchResult:nth-child(even) {
	background-color: #E9CC32;
}
.searchResult:nth-child(odd) {
    background-color: #F8EC9F;
}
.btn-teach
{
color: #000000;
background-color: #FEFFB9;	
border-color: #000000;
}
.teacher-colors
{
	background-color: #FCFF7B;
}
.biedaHidden
{
	display: none;
}
.btn-outline-teach
{
	color: #000000;
	border-color: #000000;
}
.btn-outline-teach:hover
{
	color: #000000;
	background-color: #FEFFB9;	
}
.min-vh-80 {
  min-height: 80vh !important;
}
.min-vh-70 {
  min-height: 70vh !important;
}